config:
  aws:region: us-west-2
  awsconfig:generic:
    accountid: "01234567890"
    sentrydsn: https://my/sentry/dsn
    wavefronturl: https://my/wavefront/url
    wavefronttoken: "abcd1234"
  awsconfig:tags:
    author: retgits
    feature: acmeserverless
    team: vcs
    version: 0.2.0
